body {
    /* background and font color */
    background: black;
    color: white;
    /* font and font size - feel free to adjust */
    font-family: sans-serif;
    font-size: 30px;
    /* center on the page */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    /* the look of the buttons */
    display: inline-block;
    margin: 2px;
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
}

.btn:focus {
    /* invert the button that has focus */
    background: white;
    color: black;
}

.flex {
    display: flex;
}

.flex div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.info, .up{
    font-size: 0;
    color: black;
}
