
body {
    /* background and font color */
    background: black;
    color: white;
    /* font and font size - feel free to adjust */
    font-family: sans-serif;
    font-size: 30px;
    /* center on the page */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    /* the look of the buttons */
    display: inline-block;
    margin: 2px;
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
}

.btn:focus {
    /* invert the button that has focus */
    background: white;
    color: black;
}

.flex {
    display: flex;
}

.flex div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.info, .up{
    font-size: 0;
    color: black;
}

.page{
    color: #33FFFF;
}

.page_silent{
    color: #33FF00;
}

.a{
    font-weight: bold;
    color: red;
}

.break-column {
  flex-basis: 100%;
  width: 0;
}

/*Navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.li {
  float: left;
}

.li a, .dropbtn {
  display: inline-block;
  color: #33FFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li a:hover, .dropdown:hover .dropbtn {
  background-color: #33FF00;
  color: black;
}

.li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #33FF00;}

.dropdown:hover .dropdown-content {
  display: block;
}
